<%- include('../header') -%>
    <h1>Add Set</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="iName">
        </div>
        <div class="mb-3">
            <label for="color" class="form-label">Color</label>
            <input type="text" class="form-control" id="color" name="iColor">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-control" id="type" name="iType">
        </div>
        <div class="mb-3">
            <label for="cups" class="form-label">Cups</label>
            <input type="number" class="form-control" id="cups" name="iCups">
        </div>
        <div class="mb-3">
            <label for="balls" class="form-label">Balls</label>
            <input type="number" class="form-control" id="balls" name="iBalls">
        </div>
        <button type="submit" class="btn btn-primary" name="sFinish">Finish</button
    </form>
<%- include('../footer') -%>