<%- include('../header') -%>
  <h1>Statistics of Adam's room</h1>
  <p>Number of Sets: 2</p>
  <p>Number of full Sets: 1</p>
  <p>Need:</p>
  <ul>
    <li>5 cups</li>
    <li>2 balls</li>
  </ul>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='/'">Back to Places</button>
<%- include('../footer') -%>